@media screen and (max-width: 600px) {
   body {
      background-color: rgb(255, 148, 148);
   }
   ul {
      width: 50%;
   }
}

@media screen and (min-width: 2000px) {
   body {
      background-color: rgb(74, 96, 218);
   }
   ul {
      width: 100%;
   }

}

.container{
display: flex;
height: 13.611615245009075vh;
width:226.2vh; 
background-color: rgb(0, 0, 0);
}

.box{
width: 56.44283121597096vh;
height:3.0852994555353903vh;
font-size: 3.0852994555353903vh;
pre{
   font-family: 'Times New Roman', Times, serif;
   }
}

#box1{
color: azure;
margin-left:  5.44464609800363vh;
margin-top: 1.633393829401089vh;
}


#box2{
background-color: rgb(57, 57, 57);
margin-left: 23.593466424682397vh;
margin-top: 2.722323049001815vh;
margin-bottom:2.722323049001815vh ;
height:10.88929219600726vh;
width: 100vh;
align-self: center;
}

.logo{
   width: 54.4464609800363vh;
   height: 9.98185117967332vh;
   margin-left: 8.166969147005444vh;
   }

#box3{
margin-left: 22.686025408348456vh;
   color: azure;
margin-top:1.633393829401089vh;

}

#box4{
width: 18.148820326678766vh;
 color: azure;
margin-right: 0vh;
font-size: 5.44464609800363vh;
position: relative;
bottom: 20%;
}

#Animationcss:hover{
transform: rotate(90deg);
animation-name: rotate;
transition-duration: 0.5s;
}

#Animationcss{ 
   margin-top: 35%;
   width:9.074410163339383vh;
   height:9.074410163339383vh;
}

.formus{
   display: flex;
   flex-direction: column;
   background-color: rgb( 209, 209, 209);
}

#Formulr{
right: 1%;
top: 13% ;
position: absolute;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;
border: 0.5444646098003629vh solid #f1f1f1b2;
display: none;
}

.Bild1tillbo{
width: 115.24500907441016vh;
height: 72.59528130671507vh;
}


.Bild2tillbo{
width: 111vh;
height: 72.59528130671507vh;
}

input[type=text], input[type=password] {
  width: 27.22323049001815vh;
  padding: 2.1778584392014517vh 3.629764065335753vh;
  margin: 1.4519056261343013vh 0vh;
  border: 0.18148820326678766vh solid #ccc;
  box-sizing: border-box;
  
}
button {
   text-align: center;
   background-color: #04AA6D;
   color: white;
   padding: 1.2704174228675136vh 1.8148820326678765vh;
   margin: 1.4519056261343013vh 0vh;
   border: none;
   cursor: pointer;
   width: 70%;
   height: 5vh;
   
 .container {
   padding: 2.9038112522686026vh;
 }
 
 span.psw {
   float: right;
   padding-top: 2.9038112522686026vh;
 }

 @media screen and (max-width: 54.4464609800363vh) {
   span.psw {
      display: block;
      float: none;
   }
 }
}


button:hover {
   opacity: 0.8;
 }

 
 
.positionering1{
   width: 75vh;
   margin-top: 0.8%;
   font-size: 165%;
}


.positionering2{
   width: 75vh;
   margin-top: 0.8%;
   font-size: 165%;
}

.positionering3{
   width: 60vh;
   margin-top: 0.7%;
   font-size: 115%;
   margin-left: 6.5vh;
 }

.navbar ul{
   list-style-type: none;
   background-color: rgb(255, 242, 0); 
   padding: 0vh;
   margin: 0vh;
   overflow: hidden;

}

.navbar a{
   color: rgb(255, 8, 8);
   text-decoration: none;
   padding: 0.9074410163339383vh;
   display: block;
   text-align: center;
}

.navbar li{
   float: left;

}

.navbar a:hover{
   background-color: rgb(255, 250, 155);

}

#mellanrum1{
   background-color: Rgb(232, 220, 0);
   height:14vh;
}

#mellanrum2{
   background-color: Rgb(232, 220, 0);
   height:14vh;
 
}

.Textytan{
position: sticky;
margin-top: 3%;
left: 10%;
right: 10%;
width: 80%;
background-color: rgb(235, 235, 235);
}


#kartonger{
position: absolute;

}
#kartong1{
   margin-top: 4%;
   margin-left: 10%;
   font-size: 125%;
   position: relative;
}

#kartong2{
   margin-left: 20%;
   width: 45.37205081669691vh;
   height: 18.148820326678766vh;
   position: relative;
}

#kartong3{
   width: 36.29764065335753vh;
   height: 45.37205081669691vh;
   margin-left: 71%;
   position:relative;
   bottom: 30vh;
}


.undertext{
margin-left: 5%;
}

.Rubrik{
margin-left: 10.5%;
margin-right: 15%;
}

.Slutinfo{
position:relative;
margin-left: 46.5%;
margin-right: 46.5%;
}

.Slutinfo2{
position:relative;
margin-left: 43%;
margin-right: 43%;
}

.body2{
   background: #1c1f2b;
}

.texter{
display: flex;
position: static;
flex-direction: column;
margin-left: 22.5%;
margin-top: 10%;
background-color: rgb(223, 221, 221);
width: 125vh;
height: 60vh;
}

.Rubrik2{
font-style:rgb(60, 73, 0);
align-self: center;
font-size: 6vh;
}

#textis{
margin-left: 10%;
}


#flyttartext{
margin-left: 10%;   
}

#flyttartext1{
margin-left: 29%;
}

#flyttartext2{
margin-left: 20%;
}

#flyttartext3{
margin-left: 26%;
}

.text{
font-size: 3.5vh;
margin-left: 3%;
}

#Serieboxen{
margin-top: 0.1%;
padding: 3vh 3vh 1.8vh 0vh;
background-color: rgb(61, 68, 94);
border: solid 1vh;
margin-left: 102vh;
height: 100vh;
position: absolute;
left:25%;
}

tr{
   align-items: center;
}
table {
   border: 1px solid;
   border-collapse: collapse;
   align-items: center;
}


th{
   background-color: rgb(0, 0, 0);  
}

td{
   background-color: rgb(0, 0, 0);  
   border: 1px solid;
}

.Klassiskt{
   margin-left: 17%;
}

.fint_fixande{
width: 138vh;
background-color: rgb(96, 107, 108);
height: 12vh;
color: rgb(254, 154, 27);
text-align: center;
}

#Gallileo{
background-color: rgb(119, 133, 184);
width: 138vh;
height: 3vh;
text-align: center;
}

.gallilejs{
padding-top: 2%; /*Har inte den blekaste anningen om hur det här får texten till mitten 
                   eller varför det jag satte som nedre delen av det jag använde för galleriets                          
                   nedre halva av cellshading (#Gallileo) utgör 1/4 del av höjden av (.fint_fixande)
                   fast ändå täcker 1/2 av ytan. Måste fixa det finns tid för det.*/
}

span{
padding: 3vh 59.7vh 2.8vh 59.7vh;
border: 1vh solid black;
}

table{
padding: 3vh 59.7vh 2.8vh 59.7vh;
border: 2vh solid black;
}

#griddy{
left: 3vh;
display: grid;
gap: 9.07vh 18.14vh;
grid-template-columns: auto auto auto;
background-color: white;
padding: 2em;
}
